@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.table1 {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }